.page {
    margin: auto;
}

:root {
    --primary-color: #1c7038;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;

    /*temporary*/
    margin-bottom: 200rem;
}