@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;


}

.h1, h2, p, span {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    --primary-color: #3f6a4c;
}

* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    transition: 100ms ease-in-out;
}

button:hover {
    filter: brightness(90%);
    transition: 100ms ease-in-out;
}


/*animations*/

/*fade in*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}